# .aliases

# ------------------------------------------------------------------------
#
# Included by
# - .bash_profile
# - .zshrc
#
# This file is part of tomkyle/dotfiles
# <https://github.com/tomkyle/dotfiles>
#
# ------------------------------------------------------------------------


# ------------------------------------------------------------------------
# OS Determination
# ------------------------------------------------------------------------
if [[ "${OSTYPE}" == "linux-gnu" ]]; then
	DOTFILES_OS="ubuntu"
elif [[ "${OSTYPE}" == "darwin"* ]]; then
	DOTFILES_OS="osx"
else
	DOTFILES_OS="unknown"
fi


# ------------------------------------------------------------------------
# Aliases for MacOS
# ------------------------------------------------------------------------
if [[ "${DOTFILES_OS}" == "osx" ]]; then

	# Open current directory in new Finder window
	alias t='open -R ${PWD}'

	# Reveal+select specified file in new Finder window
	alias f='open -R'

	# Open specified files in Sublime Text
	alias s='open -a "Sublime Text"'

	# Open specified files in Sublime Text
	alias m='open -a "MacDown"'

	# Switch dotfiles in Finder
	alias show_hidden="defaults write com.apple.Finder AppleShowAllFiles YES && killall Finder"
	alias hide_hidden="defaults write com.apple.Finder AppleShowAllFiles NO && killall Finder"

fi


# ------------------------------------------------------------------------
# System-related
# ------------------------------------------------------------------------

# Show cronlog (Linux only)
if [ -d "/var/log/syslog" ]; then
	alias cronlog="grep CRON /var/log/syslog"
fi;

# Show WAN IP
alias wanip="curl -s https://api.ipify.org | grep -o '[[:digit:].]\+'"



# ------------------------------------------------------------------------
# File system and directories
# ------------------------------------------------------------------------

# Quicker navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# Directory Listing
alias lss='ls -lA1'
alias lla='ls -la'
alias lsa='ls -la' # BC

alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

alias ldots='ls -laA -d .*' # List all dotfiles in current directory


# Shortcut for combining mkdir and cd
mkd()
{
	mkdir -p $1 && cd $1
}
export mkd


# List all symlinks in current directory
lsym()
{
	ls -la ${1:-.} | grep "\->"
}
export lsym


# Swap files
swap()
{
    local TMPFILE=tmp.$$
    mv "$1" $TMPFILE && mv "$2" "$1" && mv $TMPFILE $2
}
export swap


# https://stackoverflow.com/questions/8377312/how-to-convert-symlink-to-regular-file
removelink() {
  if [ -L "$1" ]; then
  	local link_target="$(readlink "$1")"
  	rm "$1" && cp "${link_target}" "$1"
  fi
}
export removelink



# ------------------------------------------------------------------------
# ACK-GREP (and Silver searcher replacement )
# ------------------------------------------------------------------------

alias afw="ack --word-regexp"
alias agw="ag --word-regexp"

alias aff="ack --literal --files-with-matches"
alias agf="ag --literal --files-with-matches"

alias afl="ack --literal"
alias agl="ag --literal"

alias afr="ack --match"
alias agr="ag --match"


# ------------------------------------------------------------------------
# Homebrew
# ------------------------------------------------------------------------

if [[ "${DOTFILES_OS}" == "osx" ]]; then
	alias buu='brew update; brew upgrade; brew cleanup; brew doctor'
fi

# ------------------------------------------------------------------------
# Vagrant
# ------------------------------------------------------------------------

alias v="vagrant"
alias va="vagrant box add"
alias vai="vagrant init"
alias vu="vagrant up"
alias vupv="vagrant up --provider virtualbox"
alias vh="vagrant halt"
alias vs="vagrant ssh"
alias vgs="vagrant global-status"


# ------------------------------------------------------------------------
# Composer
# ------------------------------------------------------------------------

alias cu="composer update"
alias cuo="composer update --optimize-autoloader"
alias cda="composer dump-autoload"
alias cdao="composer dump-autoload --optimize"
alias cr="composer require"
alias crd="composer require --dev"
alias ct="composer test"

# ------------------------------------------------------------------------
# PhpUnit
# ------------------------------------------------------------------------

alias pu="phpunit"
alias puf="phpunit --filter"
alias vpu="./vendor/bin/phpunit"
alias vpuf="./vendor/bin/phpunit --filter"


# ------------------------------------------------------------------------
# Git
# Some of these aliases are defined already in Oh-my-Zhs' "git" plugin.
# See https://github.com/robbyrussell/oh-my-zsh/wiki/Plugin:git
# ------------------------------------------------------------------------

# Bash users need these definitions here.
alias ga="git add"
alias gcam="git commit -a -m"
alias gcm="git commit -m"
alias gco="git checkout"
alias gst="git status"
alias gd="git diff"

# Carsten's own
alias gits="git status"
alias gpom="git push origin master"
alias gpod="git push origin develop"
alias pushom="git push origin master"
alias pushod="git push origin develop"
alias pullom="git pull origin master"
alias pullod="git pull origin develop"
alias gfp="git push && gco master && gm develop && git push && gco develop"


# ------------------------------------------------------------------------
# Git Flow
# ------------------------------------------------------------------------

alias gffs="git flow feature start"
alias gfff="git flow feature finish"
alias gfrs="git flow release start"
alias gfrf="git flow release finish -p"


# ------------------------------------------------------------------------
# Most-used typo errors
# ------------------------------------------------------------------------
alias whoch="which"
alias compsoer="composer"

# ------------------------------------------------------------------------
# Local and private aliases not being provided by this dotfiles repo
# ------------------------------------------------------------------------

if [ -e "${HOME}/.aliases.local" ]; then
	source "${HOME}/.aliases.local"
fi


# ------------------------------------------------------------------------
# Outro
# ------------------------------------------------------------------------
unset DOTFILES_OS;
