[submodule "nano/scopatz-nanorc"]
	path = .nano/scopatz-nanorc
	url = https://github.com/scopatz/nanorc.git
[submodule "nano/tomkyle-nanorc-brewfile"]
	path = .nano/tomkyle-nanorc-brewfile
	url = https://github.com/tomkyle/nanorc-brewfile.git
[submodule "nano/tomkyle-nanorc-conf"]
	path = .nano/tomkyle-nanorc-conf
	url = https://github.com/tomkyle/nanorc-conf.git
