# .gitconfig

# ------------------------------------------------------------------------
#
# This file is part of tomkyle/dotfiles
# <https://github.com/tomkyle/dotfiles>
#
# ------------------------------------------------------------------------


[core]
	editor = nano
	precomposeunicode = true

	excludesfile = ~/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFX

[push]
	default = simple

[pull]
	rebase = false



[color]
	ui = true

# ------------------------------------------------------------------------
# diff-so-fancy:
#
# These settings as described here:
# https://github.com/so-fancy/diff-so-fancy
#
# Requires "brew install diff-so-fancy"
# ------------------------------------------------------------------------

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22

[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse

# ------------------------------------------------------------------------

[alias]

	# List all Git aliases
	la = "!git config -l | grep alias | cut -c 7-"

	# Branch helper
	co  = checkout

	# Tags: Show current tag
	lt = describe --tags --abbrev=0

	# Status: Show only changes to files in current directory
	here = status .

	# Show remote repo information (requires network)
	info = remote show origin

	# Commit helpers
	ci  = commit
	cam = commit -a -m

	# Undo last commit
	undo = reset HEAD~1

	# Change last commit message
	recommit = commit --amend

	# Show files: from last commit
	lc  = log ORIG_HEAD.. --stat --no-merges

	# Show files: last commits and tags, descending, including files
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat

	# Show files: last commits and tags, descending
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate


[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true


[include]
  	path = ~/.gitconfig.local


[user]
	name = Carsten Witt
	email = 412560+tomkyle@users.noreply.github.com
