# ========================================================================
#
# .nanorc
#
# This file is part of tomkyle/dotfiles
# <https://github.com/tomkyle/dotfiles>
#
# ========================================================================

set autoindent
set constantshow
set mouse
set smooth
set tabsize 4


include "~/dotfiles/**/*.nanorc"
