# ========================================================================
#
# .nanorc
#
# This file is part of tomkyle/dotfiles
# <https://github.com/tomkyle/dotfiles>
#
# ========================================================================

set mouse

# ========================================================================
# Anthony Scopatz's "Improved Nano Syntax Highlighting Files"
# https://github.com/scopatz/nanorc
#
# Automatically filled by dotfile installer
# ========================================================================

