# .nanorc

# ------------------------------------------------------------------------
#
# This file is part of tomkyle/dotfiles
# <https://github.com/tomkyle/dotfiles>
#
# ------------------------------------------------------------------------

set autoindent
set constantshow
set mouse
# set smooth
set tabsize 4


include "~/.nano/scopatz-nanorc/*.nanorc"
include "~/.nano/tomkyle-nanorc-brewfile/*.nanorc"
include "~/.nano/tomkyle-nanorc-conf/*.nanorc"
